{
  "namingConvention": "BEM",
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "componentName": "[a-z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:__[-a-z,0-9]+)?$",
        "combined": "^\\.combined{componentName}(?:__[-a-z]+)?$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    }
  }
}