body {
	margin: 0px;
	font-family: Roboto, Arial, Helvetica, sans-serif
}
.container {
	width: 600px;
	height: 400px;
	background-color: #4a4a4a;
}

.nav {
	background-color: #4a4a4a;
	color: #f5f5f5;
	font-size: 17px;
	cursor: pointer;
}

.group {	
	position: relative;
}

.group-header {
	padding: 10px 10px 10px 40px;
	border-bottom: 2px solid #4a4a4a;
	background-color: #3d3d3d;
}

.group-header:hover
.client-header:hover {
	background-color: #252525;
}

.client-container,
.group-container,
.user-container {
	padding-left: 30px;
}

.group > svg {
	width: 27px;
    position: absolute;
    top: 6px;
    left: 7px;
	fill: white;
}

.selected > .group-header,
.selected > .client-header {
	background-color: #55879d;
}

.selected > .group-header:hover,
.selected > .client-header:hover {
	background-color: #437488;
}

.client-header {
	border-bottom: 2px solid #4a4a4a;
	position: relative;
}

.client-header > svg {
	width: 27px;
    position: absolute;
    top: 6px;
    left: 7px;
	fill: white;
}

.client-header > svg.building {
    height: 28px;
    left: 34px;
}

.client-header {
	background-color: #3d3d3d;
	padding: 10px 10px 10px 70px;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}

.client-active {
	float: right;
    padding-right: 10px;
}

.user {
	background-color: #3d3d3d;
	padding: 10px 10px 10px 45px;
	font-size: 14px;
	border-bottom: 2px solid #4a4a4a;
	position: relative;
}

.user > svg {
	width: 27px;
    height: 28px;
    position: absolute;
    top: 12px;
    left: 9px;
    fill: white;
}

.group-header:hover,
.client-header:hover,
.user:hover {
	background-color: #252525;
}

.first-name {
	padding-left: 5px;
}

.user-name {
	font-weight: italic;
}