/* postcss-bem-linter: define expandable-tree */

.expandable-tree__fading-circle--large {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.expandable-tree__fading-circle--small {
  width: 15px;
  height: 15px;
  position: relative;
}

.expandable-tree__fading-circle-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.expandable-tree__fading-circle-dot::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #eee;
  border-radius: 100%;
  animation: expandable-tree__circleFadeDelay 1.2s infinite ease-in-out both;
}

.expandable-tree__fading-circle-dot--circle2 {
  transform: rotate(30deg);
}

.expandable-tree__fading-circle-dot--circle3 {
  transform: rotate(60deg);
}

.expandable-tree__fading-circle-dot--circle4 {
  transform: rotate(90deg);
}

.expandable-tree__fading-circle-dot--circle5 {
  transform: rotate(120deg);
}

.expandable-tree__fading-circle-dot--circle6 {
  transform: rotate(150deg);
}

.expandable-tree__fading-circle-dot--circle7 {
  transform: rotate(180deg);
}

.expandable-tree__fading-circle-dot--circle8 {
  transform: rotate(210deg);
}

.expandable-tree__fading-circle-dot--circle9 {
  transform: rotate(240deg);
}

.expandable-tree__fading-circle-dot--circle10 {
  transform: rotate(270deg);
}

.expandable-tree__fading-circle-dot--circle11 {
  transform: rotate(300deg);
}

.expandable-tree__fading-circle-dot--circle12 {
  transform: rotate(330deg);
}

.expandable-tree__fading-circle-dot--circle2::before {
  animation-delay: -1.1s;
}

.expandable-tree__fading-circle-dot--circle3::before {
  animation-delay: -1s;
}

.expandable-tree__fading-circle-dot--circle4::before {
  animation-delay: -0.9s;
}

.expandable-tree__fading-circle-dot--circle5::before {
  animation-delay: -0.8s;
}

.expandable-tree__fading-circle-dot--circle6::before {
  animation-delay: -0.7s;
}

.expandable-tree__fading-circle-dot--circle7::before {
  animation-delay: -0.6s;
}

.expandable-tree__fading-circle-dot--circle8::before {
  animation-delay: -0.5s;
}

.expandable-tree__fading-circle-dot--circle9::before {
  animation-delay: -0.4s;
}

.expandable-tree__fading-circle-dot--circle10::before {
  animation-delay: -0.3s;
}

.expandable-tree__fading-circle-dot--circle11::before {
  animation-delay: -0.2s;
}

.expandable-tree__fading-circle-dot--circle12::before {
  animation-delay: -0.1s;
}

@keyframes expandable-tree__circleFadeDelay {
  0%,
  39%,
  100% { opacity: 0; }
  40% { opacity: 1; }
}
