

.nav {
    color: #eeeeee;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
}

.group {
    background-color: #3d3d3d;
    
    .group-panel {
        border-bottom: 2px solid #4a4a4a;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .group-caret {
        padding: 4px;
        height: 21px;
    }

    .group-header {
        padding: 7px;
        flex-grow: 1;
    }

    .client-container {
        border-bottom: 2px solid #4a4a4a;
    }
}

.client {
    .client-header {
        background-color: #3d3d3d;
        padding: 7px;
        padding-top: 8px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .client-name {
        flex-grow: 1;
        padding-left: 7px;
    }

    svg.building {
        width: 18px;
        height: 18px;
        fill: #eeeeee;
        padding-left: 2px;
    }

    .users-loading {
        padding: 4px;
        display: flex;
        flex-direction: row;

        span {
            padding-left: 7px;
        }
    }
}

.user {
    background-color: #3d3d3d;
    padding: 7px;
    font-size: 11px;

    .user-panel {
        display: flex;
        flex-direction: row;
    }

    .user-panel>svg {
        width: 20px;
        height: 20px;
        fill: #eeeeee;
        padding-top: 2px;
    }

    .user-header {
        padding-left: 8px;
    }

    .first-name {
        padding-left: 5px;
    }   

    .user-name {
        font-weight: italic;
    }
}

.group .caret,
.client-header .caret {
    width: 20px;
    fill: #eeeeee;
}

.selected>.group-panel,
.selected>.client-header {
    background-color: #394f59;
    color: #eeeeee;
}